
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <span style="float: left;"><h4 class="card-title">Bookings Datatable</h4> </span>
            <span style="float: right;"><a href="/admin/rooms" type="button" class="btn btn-primary">Edit Rooms</a></span>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="text-align: center; height: 100vh;">
                <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="">S. No.</th>
                            <th class="th-sm">User Name</th>
                            <th class="th-sm">Email</th>
                            <th class="th-sm">Mob No.</th>
                            <th class="th-sm">Adults</th>
                            <th class="th-sm">Children</th>
                            <th class="th-sm">CheckIn</th>
                            <th class="th-sm">CheckOut</th>
                            <th class="th-sm">Total Amount</th>
                            <th class="th-sm">Paid Amount</th>
                            <th class="th-sm">Time Since Booking (Hours)</th>
                            <th class="th-sm">Status</th>
                            <th class="th-sm">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each allBookings}}                       
                            <tr>
                                <td>{{@key}}</td>
                                <td>{{this.userName}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.mobile}}</td>
                                <td>{{this.adults}}</td>
                                <td>{{this.children}}</td>
                                <td>{{this.checkIn}}</td>
                                <td>{{this.checkOut}}</td>
                                <td>{{this.totalAmount}}</td>
                                <td>{{this.amountPaid}}</td>
                                <td>{{timeElapsedFromNow this.updatedAt}}</td>
                                <td>{{this.status}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button
                                            class="btn btn-primary dropdown-toggle"
                                            type="button"
                                            id="dropdownMenuButton"
                                            data-mdb-toggle="dropdown"
                                            aria-expanded="false"
                                        >
                                            Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li id="delete"><a class="dropdown-item" href="/api/deleteBooking/{{this._id}}">Delete</a></li>
                                            {{#if (isCancellable this.status) }}
                                                <li id="cancle"><a class="dropdown-item" href="/api/cancelBooking/{{this._id}}">Cancel Full Refund</a></li>
                                                <li id="refund"><a class="dropdown-item" href="/api/cancelNoRefund/{{this._id}}">Cancel No Refund</a></li>                                    
                                            {{/if}}
                                            <li id="checkIn"><a class="dropdown-item" href="/api/markCheckIn/{{this._id}}">Check In</a></li>
                                            <li id="checkOut"><a class="dropdown-item" href="/api/markCheckOut/{{this._id}}">Check Out</a></li>
                                        </ul>
                                    </div>
                                    {{!-- <a href="/api/deleteBooking/{{this._id}}" style="cursor:pointer;">
                                        Delete
                                    </a>
                                    <hr>
                                    <a href="/api/cancleBooking/{{this._id}}" style="cursor:pointer;">
                                        Cancle Booking
                                    </a>
                                    <hr>
                                    <a href="/api/markCheckIn/{{this._id}}" style="cursor:pointer;">
                                        Check In
                                    </a>
                                    <hr>
                                    <a href="/api/markCheckOut/{{this._id}}" style="cursor:pointer;">
                                        Check Out
                                    </a> --}}
                                    
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>

                    {{!-- <tfoot>
                        <tr>
                            <th>S. No.</th>
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Mob No.</th>
                            <th>Adults</th>
                            <th>Children</th>
                            <th>CheckIn</th>
                            <th>CheckOut</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot> --}}
                </table>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script>
    $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
    });
</script>